.date-range-picker-clickable {
	cursor: pointer;
}

.date-range-picker-button {
	margin-bottom: 0;
	border-radius: 0;
	color: var(--lumo-body-text-color);
}

.date-range-picker-overlay-base {
	position: relative;
}

.date-range-picker-overlay-layout {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: var(--lumo-base-color);
	border: 1px solid var(--lumo-contrast-5pct);
	border-top: none;
}

.flex-container {
	display: flex;
}

.flex-child-autogrow {
	flex: 1 1 auto;
}

.flex-child-contentsize {
	flex: 0 1 auto;
}
